.top-button {
  position: absolute;
  top: 0px;
  left: 56px;
}

.left-button {
  position: absolute;
  top: 50px;
  left: 0px;
}

.right-button {
  position: absolute;
  top: 50px;
  left: 114px;
}

.bottom-button {
  position: absolute;
  top: 104px;
  left: 56px;
}

.middle-text-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  top: 17%;
  left: 18%;
  width: 160px;
  height: 160px;
  text-align: center;
  // background-color: red; // Just for testing
}

.middle-text-content {

}

.response-text {
  position: absolute;
  top: 70px;
  font-size: 20px;
}
