.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}

.top {
  height: 33.3%;
}
.right {

}

.left {

}

.bottom {

}
