.gender-text #gender-type {
  font-size: 25px;
  line-height: 25px;
  margin-top: 0em;
  margin-bottom: 15px;
}
.gender-text #gender-tap {
  font-size:16px;
  margin-bottom: 0em;
  margin-top: 0em;
}
