.top-button {
  position: absolute;
  top: 0px;
  left: 48px;
}

.left-button {
  position: absolute;
  top: 41px;
  left: 0px;
}

.right-button {
  position: absolute;
  top: 41px;
  left: 98px;
}

.bottom-button {
  position: absolute;
  top: 87px;
  left: 48px;
}

.gender-text {
  position: relative;
  text-align: center;
  margin-top:30%;
  margin-left: auto;
  margin-right: auto;
}

.response-text {
  position: absolute;
  top: 50px;
}
