<!--<p>
  Date : <span class="clock-date"></span>
</p>

<p>
   Time: <span class="clock-time"></span>
</p>


<img src="../../images/logo.png" alt="" />-->
<div class="top-button">
  <img src="../../images/home_32.png" alt="" class="top-button"/>
</div>

<div class="middle-text-container">
  <div class="middle-text-content">
    <div class="tap-message-content">
      {{message}}
    </div>
  </div>
</div>
