<div class="top-button">
  <img src="../../images/home.png" alt="" class="top-button"/>
</div>

<div class="left-button">
  <img src="../../images/unhappy.png" alt="" class="left-button"/>
</div>

<div class="right-button">
  <img src="../../images/happy.png" alt="" class="right-button"/>
</div>

<div class="bottom-button">
  <img src="../../images/confused.png" alt="" class="bottom-button"/>
</div>

<div class="middle-text">
  How are you?
</div>
