<div class="top-button">
  <img src="../../images/home_32.png" alt="" class="top-button"/>
</div>

<div class="left-button">
  <img src="../../images/unhappy_32.png" alt="" class="left-button"/>
</div>

<div class="right-button">
  <img src="../../images/happy_32.png" alt="" class="right-button"/>
</div>

<div class="bottom-button">
  <img src="../../images/confused_32.png" alt="" class="bottom-button"/>
</div>

<div class="middle-text-container">
  <div class="middle-text-content">
    How are you feeling?
  </div>
</div>
