<div class="left-button">
  <img src="../../images/back.png" alt="" class="left-button"/>
</div>

<div class="text-container">
  <p>{{ organisation.name }}</p>
  <p>{{ organisation.phone }}</p>
  <p>{{ organisation.email }}</p>
  <p>{{ organisation.address }}</p>
</div>
