<div class="flex-container">
  <div class="top-button">
    <img src="../../images/home_32.png" alt="" class="top-button"/>
  </div>
  <div class="response-text-container">
    <div class="response-text-content">
      {{ response }}
    </div>
    <div class="tap-text-content">
      {{ tap }}
    </div>
  </div>
</div>
