<div class="top-button">
  <img src="../../images/up_button.png" alt="" class="top-button"/>
</div>

<div class="left-button">
  <img src="../../images/back.png" alt="" class="left-button"/>
</div>

<div class="bottom-button">
  <img src="../../images/down_button.png" alt="" class="bottom-button"/>
</div>
<div class="middle-text-container">
  <div class="middle-text-content">
    <div class="gender-text">
      <div id="gender-type">{{ genderOption }}</div>
      <p id="gender-tap">Tap to select</p>
    </div>
  </div>
</div>
