<div class="top-button">
  <img src="../../images/up_button.png" alt="" class="top-button"/>
</div>

<div class="left-button">
  <img src="../../images/back.png" alt="" class="left-button"/>
</div>

<div class="bottom-button">
  <img src="../../images/down_button.png" alt="" class="bottom-button"/>
</div>

<div class="gender-text">
  {{ genderOption }}
  <p>Tap to select</p>
</div>
