<div class="top-button">
  <img src="../../images/mood_32.png" alt="" class="top-button"/>
</div>

<div class="right-button">
  <img src="../../images/settings_32.png" alt="" class="right-button"/>
</div>

<div class="bottom-button">
  <img src="../../images/phone_32.png" alt="" class="bottom-button"/>
</div>

<div class="middle-text-container">
  <div class="middle-text-content">
    <div class="tap-center">
      <img src="../../images/tap.png" alt="" style ="height:160px">
    </div>
  </div>
</div>
