<div class="top-button">
  <img src="../../images/home_32.png" alt="" class="top-button"/>
</div>
<div class="middle-text-container">
  <div class="middle-text-content">
    <div class="time-content">

      <span class="clock-date" style="font-size: 19px"></span>
      <span class="clock-time" style="font-size: 50px"></span>
    </div>
  </div>
</div>
